/* First!!! */

body {
  background-color: #002b36;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #839496;
}

a {
  color: #586e75;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  font-weight: bold;
}

h4 {
  font-family: cursive;
}

li {
  font-size: 14px;
  font-style: italic;
  font-weight: normal;
}

.bold {
  font-weight: bold;
}

.justify {
  text-align: justify;
}

.underline {
  text-decoration: underline;
}

.homebg {
  background-image: url("images/background.png");
  background-repeat: repeat;
}

.resumeListHeading {
  font-weight: bold;
  font-style: normal;
}

/* These are silly styles for blocky boxes */

.box1 {
  border-color: #073642;
  border-style: solid;
  border-width: 1px;
}

.box2 {
  padding: 4px;
}

.box3 {
  margin: 4px;
}

.box4 {
  padding-left: 10px;
  margin: 100px;
  border-right: solid 5px;
}
