/*
 * Color values come from the default, dark version of the Solarized color
 * scheme: https://ethanschoonover.com/solarized/
 */

/* Element defaults */

a {
  color: #cb4b16;
}

a:hover {
  color: #cb4b16;
  text-decoration: underline;
}

body {
  background-color: #002b36;
  background-size: cover;
  color: #839496;
}

p a {
  text-decoration: none;
}

/* Generic classes */

.italic {
  font-style: italic;
}

/* Specific classes */

div.tableauPlaceholder object {
  height: 800px;
  width: 100%;
}

footer.home-footer {
  bottom: 5px;
  position: absolute;
  width: 100%;
}

header.masthead {
  background: none;
  background-size: cover;
}

header.masthead::before {
  opacity: 0;
}

nav.aboutme-nav {
  background-color: #073642;
  right: 5px;
  padding: 5px;
  position: fixed;
  top: 50%;
}

body.tableau-body {
  margin: 0 0;
}

nav.tableau-nav {
  background-color: rgb(255, 255, 255);
  align-items: center;
  width: 100%;
}

nav.tableau-nav div {
  height: 82px;
  margin: 0 auto;
  max-width: 1224px;
  padding-left: 48px;
  padding-right: 48px;
}

nav.tableau-nav div a {
  color: rgb(33, 37, 41);
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  line-height: 82px;
  text-decoration: none;
}

a.tableau-nav-header {
  float: left;
  font-size: 20px;
}

a.tableau-nav-link {
  float: right;
  font-size: 12px;
  letter-spacing: 0.75px;
  padding-left: 16px;
  padding-right: 16px;
  text-transform: uppercase;
}
